/* Linked to index.html */
/* 
Need bgcolor for: 
.msg
footer
*/

body {
  background-color: #030015;
}

header {
  background-color: #090142d1;
}

div {
  max-width: 1600px;
}

#content {
  margin: 0 auto;
  text-align: center;
}

#background {
  background-color: #0c024ddc;
  height: 725px;
}

nav a {
  text-align: center;
  padding: 5px;
  color: #dddfff;
}

nav a:hover {
  background-color: #10007b;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.book, .join {
  background-color: #2a0558;
  font-size: 1.6em;
}

.book:hover, .join:hover {
  background-color: #120656;
}

.home-title {
  color:#10007b;
}

.msg {
  background-color: #001d60;
}

.msg h2 {
  color: #f0f0ff;
}

.msg p {
  color: #f0f0ff;
}

#hero {
  padding-top: 5px;
}

#hero-img {
  width: 100%;
}

#hero-msg h1, h4 {
  text-align: center;
}

.buttonbox {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
}

footer {
  background-color: #090142d1;
  font-size: 1.12em;
}

footer a {
  color: #e9eaff;
}

footer p a:hover {
  color: #ffffff;
  text-decoration: underline;
}

h4 {
  color: #e9eaff;
}

.icon, .logo {
  width: 80px;
}

.home-grid {
  padding: 5px;
}