@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Cairo:wght@200..1000&display=swap');

/* https://coolors.co/palette/10002b-240046-3c096c-5a189a-7b2cbf-9d4edd-c77dff-e0aaff */

:root {
    --primary-color: #10002B;
    --secondary-color: #3C096C;
    --accent1-color: #5A189A;
    --accent2-color: #9D4EDD;
  
    --heading-font: "Amiri", "Cairo", sans-serif;
    --paragraph-font: "Cairo", Helvetica, sans-serif;
  
    --headline-color-on-white: #C77DFF;  /* headlines on a BLACK(ish) background */ 
    --headline-color-on-color: #f0ddff; /* headlines on a colored background */ 
    --paragraph-color-on-white: #9D4EDD; /* paragraph text on a BLACK(ish) background */ 
    --paragraph-color-on-color: #f5e3ff; /* paragraph text on a colored background */ 
    --paragraph-background-color: #3C096C  ;
    --nav-link-color: #C77DFF;
    --nav-background-color: #3C096C;
    --nav-hover-link-color: #E0AAFF;
    --nav-hover-background-color: #5A189A;
  }

  body {
    background-color: #10002B;
    text-align: center;
  }

  main {
    max-width: 70%;
    margin: auto; 
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
  }

  h1 { /* default is 2em */
    font-size: 2.2em;
  }

  h2 { /* default is 1.55em */
    font-size: 1.7em;
  }

  h3 { /* default is 1.2em */
    font-size: 1.4em;
  }

  h4 {
    font-size: 1.2em;
  }

  p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    font-size: 1.2em;
  }

  nav a {
    text-align: center;
    padding: 15px;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    font-size: 1.2em;
    text-decoration: none;
  }

  nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    text-decoration: underline;
  }

  .space {
    padding: 10px;
  }

  .chonker {
    min-height: 500px;
    border: 1px solid var(--accent1-color);
    padding: 5px;
  }

  .minichonker {
    min-height: 250px;
    border: 1px solid var(--accent1-color);
    padding: 5px;
  }

  ul {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
  }

  li {
    text-align: center; 
    padding: 5px;
  }